# DATABASE
DATABASE_URL=mysql://user:pass@host:port/db

# SUPABASE
EXPO_PUBLIC_SUPABASE_URL=your-supabase-url
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

# API
EXPO_PUBLIC_API_URL=your-api-tunnel-url

# AUTH
JWT_SECRET=your-jwt-secret
OTP_REDIS_URL=redis://localhost:6379
